nav.navbar.bg-dark
{
  background-image: linear-gradient(to left, rgba(130, 127, 127) , rgb(53, 53, 53));
  /* background-color: rgb(128, 128, 128); */
  font-family: 'Scope One', serif;
  font-weight: 400;
}

nav .collapse .nav-item .nav-link
{
    color: rgb(255, 255, 255);
    
}

nav .collapse .nav-item .nav-link:hover
{
    font-weight: 800;
}


html body
{
    background-color: rgb(0, 0, 0);
    background-image: url("https://images.unsplash.com/photo-1494376877685-d3d2559d4f82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
}



.btn.btn-outline-dark
{
    height: max-content;
    width: max-content;
  border-radius: 10px;
  
}
#content
{
    font-family: 'Cinzel', serif;
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0.182);
    text-align: center;
    padding-bottom: 5px;
}
h3.h3.second
{
    font-size: 90%;
}
@media (max-width:1000px) {
    nav.navbar.bg-dark
    {
        background-image: linear-gradient(to left, rgb(0, 0, 0) , rgb(9, 13, 9));
    }

    html body
    {
        background-image: url("https://images.unsplash.com/photo-1662553255890-d5ab89206450?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
    }

    #content
    {
        background-color: rgba(240, 248, 255, 0);
        color: rgba(240, 248, 255, 0.849);
        padding-top: 5px;
    }

    .btn.btn-outline-dark
    {
        border-color: aliceblue;
        color: aliceblue;
        height: max-content;
        width: max-content;
    }
}